<body>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <div class="chats">
    {{!-- <div class="chat">
      <div class="group">
        <div class="chatName" id="chatName" data-userid="{{user.id}}">
          <a href="/users/{{user.id}}/tweets">
            <img class="rounded-circle" style="width: 30px;" src="{{user.avatar}}" />
            <span>{{user.name}}</span>
          </a>
        </div>
        <div class="chatMsg"> 進入聊天室</div>
      </div>
      <div class="time"></div>
    </div> --}}
  </div>
  <div class="message">
    <div id="inputChatName" data-userid="{{user.id}}" style="display:inline;">
      <a href="/users/{{user.id}}/tweets">
        <img class="rounded-circle" style="width: 30px;" src="{{user.avatar}}" />
        <span>{{user.name}}</span>
      </a>
    </div>
    <input id="inputChatMsg" type="text" placeholder="input the message" />
    <button id="inputMsgButton" type="button">送出</button>
  </div>
</body>

{{!-- chatroom --}}
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/zh-tw.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
<script src="/javascripts/chatroom.js"></script>